/*css*/
@import "grid.css";
@import "font-awesome.css";

/* Menu */
nav{
	background: #ededed;
	margin-bottom: 10px;
	}
	.sf-menu {
		list-style: none;
	}
		.sf-menu > li {
			float: left;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			line-height: 24px;
			font-weight: 700;
			color: #000;
			position: relative;
			border-right: 1px solid #fff;
		}
			.sf-menu > li span{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 0px;
				background: #3b3b3b;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-ms-transition: 0.3s;
				-o-transition: 0.3s;
				transition: 0.3s;
				}
				.sf-menu > li:hover span, .sf-menu > li.current span{
					top: -6px;
					height: 6px;
					}
		.sf-menu > li:first-child{
			margin-left: 0;
		}
			.sf-menu > li > a {
				display: inline-block;
				color: #000;
				text-decoration:none;
				padding: 18px 21px 23px 19px;
				}
				.sf-menu > li.sfHover > a,
				.sf-menu > li > a:hover,
				.sf-menu > li.current > a {
					color: #64ad33;
					text-decoration: none; 
				}
				.sf-menu > li > a.sf-with-ul:after{
					/*menu arrow*/
				}
			.sf-menu .menu-arrow{display: none;}
		/* submenu */
		.sf-menu ul {
			background: #2f2f2f;
			display: none;
			left: 0px;
			padding: 4px 1px 13px;
			position:absolute;
			top: 65px;
			width: 251px;
			z-index:99;
		}
			.sf-menu ul li{
				position: relative;
				margin-top: 13px;
				position: relative;
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				line-height: 17px;
				font-weight: 300;
				text-transform: none;
				font-style: normal;
				border-top: 1px dotted #656565;
				padding: 6px 16px 0px;
				}
				.sf-menu ul li:first-child{
					margin-top:0;
					border-top: none;
				}
				.sf-menu ul li a{
					color: #fff;
					text-decoration:none;
				}
				.sf-menu ul li > a:hover,
				.sf-menu ul li.sfHover > a,
				.sf-menu ul li.active > a{
					color:#64ad33;
					text-decoration:none;
				}

				.sf-menu ul li a.sf-with-ul:before {
					content: "\f107";
					font-family: FontAwesome;
					font-size: 14px;
					line-height: 14px;
					color: #777777;
					position: absolute;
					right: 13px;
					top: 11px;
					}
		/* subsubmenu */
		.sf-menu ul ul {
			background:#2e2e2e;
			left: 253px;
			top: -3px;
			width: 245px;
		}
			.sf-menu ul ul li a{
				text-decoration:none;
			}
			.sf-menu ul ul li > a:hover,
			.sf-menu ul ul li.sfHover > a,
			.sf-menu ul ul li.active > a{
				text-decoration:none;
			}
	#mm0{
		display:none;
		border: 1px solid #ededed;
		outline: none;
		padding: 12px 3px;
		width: 100%;
	}
